body {
    background-color: white;
    /* text-shadow: 1px 1px 1px rgb(2, 0, 0); */
    font-size: larger;
}

td{
    width: 100px;
    height: 100px;
    background-color: cyan;
    border: 1px solid gray;
    transition-duration: 0.5s;
}

td:hover {
    background-color: #f2dd6e;
    background-image: linear-gradient(135deg, #f2dd6e 0%, #cff27e 37%, #ef959d 100%);
    box-shadow: 20px 5px 6px 7px rgba(245, 245, 245, 0.3), 4px 5px 6px 12px rgba(245, 24, 24, 0.3);
    transform: scale(1.0) translate(-10%, -10%);
}

.gameboardContainer {
    display: flex;
    justify-content: center;
}

.gameboard {
    margin-top: 10px;
    height: fit-content;
    width: fit-content;
    background-color: rgb(215, 145, 215);
    text-align: center;
}

.nameInput {
    border: 1px solid rgb(70, 77, 73);
    border-radius: 5px 5px 5px 5px;
    background-color: rgba(119, 217, 219, 0.6);
    display: flex;
    flex-direction: row;
    justify-content: center;
    height: 70px;
}

.playerSubmit div {
    margin-top: 60px;
    margin-bottom: 10px;
    display: flex;
    justify-content: center;
    /* align-items: center; */
}


#button {
    background-color: rgb(0, 255, 115);
    border: none;
    border-radius: 2px;
    padding: 15px 32px;
    text-align: center;
    color: whitesmoke;
    text-shadow: 2px 2px 2px black;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    transition-duration: 0.5s;
}

#button:hover {
    background-color: rgba(174, 118, 226, 0.216);
    box-shadow: 4px 6px 8px 5px rgba(0,0,0,0.24), 0 17px 50px 0 rgba(0,0,0,0.19);
}

#nameDisplay {
    border-radius: 1000px 10px 10px 10px;
    position: fixed;
    left: 30%;
    bottom: 50%;
    color: #d718d0;
    background-color: rgba(211, 124, 124, 0.5);
    box-shadow: 10px 5px 5px rgba(60, 56, 56, 0.5);
}

.buttonContainer {
    margin-top: 10px;
    display: flex;
    justify-content: center;
}